
body{

  background-color: #e7e7e7;
}

.contentcolor
{background-color: white;
  border-radius: 25px;
      border: 0.01px solid White;
    }

.navbar-brand {
  font-family: 'Rammetto+One', cursive;
  font-size: 30px !important;
}
.navbar {

    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    background-color: #0C3C26;
  font-family:  "Roboto", Corbel, Avenir, "Lucida Grande", "Lucida Sans", sans-serif;
}


.footer-bottom {
    background-color: #0C3C26;
    min-height: 30px;
    width: 100%;
      padding: 15px 0;
        position: relative;

}
.push {
  height: 100px;
}


.copyright {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
}
.design {
    color: #fff;
    line-height: 30px;
    min-height: 30px;
    padding: 7px 0;
    text-align: right;
}
.design a {
    color: #fff;
}




/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}

/*nav  */

.nav-tabs > li.active > a {
  color: #3c5a78;
  font-size: 16px;
}
.nav-tabs > li > a {
  color: #ffffff;
}

/*
    Social
*/
.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 .social {
     -webkit-transform: scale(0.8);
     /* Browser Variations: */

     -moz-transform: scale(0.8);
     -o-transform: scale(0.8);
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
 }

/*
    Multicoloured Hover Variations
*/

 #social-fb:hover {
     color: #3B5998;
 }
 #social-tw:hover {
     color: #4099FF;
 }
 #social-gp:hover {
     color: #d34836;
 }
 #social-em:hover {
     color: #f39c12;
 }

  .list1
  {
    color: Black;
  }

.list1 tr:hover  {

-webkit-transform: scale(1);
-moz-transform: scale(1);
-o-transform: scale(1.1);
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
}
.list1 tr   {

-webkit-transform: scale(1);
-moz-transform: scale(0.9);
-o-transform: scale(1.1);
-webkit-transition-duration: 0.5s;
-moz-transition-duration: 0.5s;
-o-transition-duration: 0.5s;
}


/*
    Multicoloured Hover Variations

.card div:hover
{
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1.1);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;

}
.card div
{
  -webkit-transform: scale(1);
  -moz-transform: scale(0.9);
  -o-transform: scale(1.1);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;

}
*/



.column, .columns {

    float: left;
    box-sizing: border-box;}
    ::before, ::after {

        box-sizing: border-box;
    }
.post .card {
    padding-bottom: 20px;

}
.card {
    background-color: #fff;
   box-sizing: border-box;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.05);
    margin-bottom: 4rem;

}
.post .post-author.card {
    padding: 30px;}

.post .post-author .author-picture {
    width: 120px;
    clear:left;
    float: left;}
.post .post-author .author-picture img {
  display: block
  height: 100px;
  width: 100px;
}
img {
    border: 0;
    box-sizing: border-box;
}
.post .post-author .author-info {
    margin-left: 150px;
    box-sizing: border-box;
    float:left;
    margin-right:8px;}

.post .post-author p.bio {
    color: #999;
    font-size: 1.6rem;
}


.post-container {
    margin: 20px 20px 0 0;
    overflow: auto;
}
.post-thumb {
    float: left;
}
.post-thumb img {
    display: block
    height: 150px;
    width: 150px;
    border-radius: 100px;
}
.author-info
{
  margin-left: 150px;
  margin-right:5px;}

.post-content {
    margin-left: 180px;
    font-size: 1.1em;
    line-height: 1.2;
    font-weight: 200;
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #222;
}
.post-title {
    font-weight: bold;
    font-size: 200%;
    padding: 9px;
    background: #ccc
}





.example1 {
 height: 50px;
 overflow: hidden;
 position: relative;
}
.example1 h3 {
 font-size: 1em;
 color: #8B0000;
 position: absolute;
 width: 100%;
 height: 100%;
 margin: 0;
 line-height: 50px;
 text-align: center;
 /* Starting position */
 -moz-transform:translateX(100%);
 -webkit-transform:translateX(100%);
 transform:translateX(100%);
 /* Apply animation to this element */
 -moz-animation: example1 15s linear infinite;
 -webkit-animation: example1 15s linear infinite;
 animation: example1 15s linear infinite;
}
/* Move it (define the animation) */
@-moz-keyframes example1 {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes example1 {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes example1 {
 0%   {
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);
 }
 100% {
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%);
 }
}
