{% extends 'base.html' %}

{% block breadcrumb %}

<div class="post-container">

    <div class="post-thumb">
    <img src="/static/img/profilec.jpg" /></div>

    <div class="post-content">
      <p class="name"><strong></strong></p>
      <p>
        Hey there , my name is Saran Satyal , currently living at Kathmandu. I consider myself as a full-stack Web Application Developer even though
I do not posses an industrial experience in hand in the Developing field. I have MS degree from Lovely Professional
University , India. I am very passionate about web development using Python/Django. I spend most of my time learning
Python , Django , Flask , HTML , CSS , Bootstrap , Java Script , Jquery and practically implementing ideas on different projects.
<a href=" " rel="author"> </a>
      </p>
</div>




{% endblock %}
